.nav-list {
  &:not(.custom-btn) {
    color: #666;
  }
  .cart-menu {
    border-radius: 0.3rem;
  }
  span {
    &:hover {
      cursor: pointer;
    }
  }
  a {
    text-decoration: none;
  }
  .user-dropdown-menu {
    width: max-content;
    // right: 2.2rem;
    // width: auto;
    // left: 12px;
    padding: 0.3rem;
    .cart-ul {
      padding: 0;
      li {
        text-align: start;
      }
      .cart-list {
        cursor: pointer;
        padding: 0.625rem 1.5625rem;
        border: none;
        border-radius: 0.3rem;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
    a {
      color: #292929c9;
    }

    @media (max-width: 400px) {
      right: 2.2rem;
      width: auto;
      // left: 12px;
    }
  }
}
