$border: 5px;
.modal {
  margin: 0px;
  padding: 0px;
  .modal-body {
    padding: 0;
    padding-left: 0px;
  }
}

.quick-view-img-container {
  img {
    border-radius: $border;
  }
}

@media screen and (max-width: 375px) {
  .lightbox-modal-body {
    .modal-body img {
      height: 200px !important;
    }
  }
}
