.quick-view-text-container {
  min-height: 368px;
  max-height: 400px;
  overflow-y: scroll;
}

@media screen and (max-width: 400px) {
  .quick-view-text-container {
    min-height: 308px;
    max-height: 900px;
  }
}

@media screen and (max-width: 375px) {
  .lightbox-modal-body {
    .modal-body img {
      height: 200px;
    }
  }
  .quick-view-text-container {
    min-height: 252px;
    max-height: 300px;
  }
}
